<div>

<nav>
  <div class="nav__items navbar navbar-default">
    <a href="index.html">Home</a>
  </div>
  <!-- /.nav__items -->
</nav>
<div class="text3 {{class}}">{{text}}</div>
<div  id="loc3">
 <h3 class="text1">{{location}}</h3>
 <table class="table">
  <tr>
    <th><img src="/images/wind_direction.jpg" alt="wind_direction" class="metric-images"></th>
    <th><img src="/images/wind speed.jpg" alt="wind speed" class="metric-images"> </th>
    <th><img class="metric-images" src="/images/wave-icon.png" atl="current_velocity"></th>
    <th><img src="/images/sea_temp.jpg" alt="sea_temp" class="metric-images"></th>
    <th><img src="/images/ice level.png" alt="ice level" class="metric-images"></th>
    <th><img src="/images/precipitation.jpg" alt="precipitation" class="metric-images"> </th>
    <th> <img src="/images/" alt="snow fall" class="metric-images"> </th>
    <th><img src="/images/visibility.jpg" alt="visibility" class="metric-images"> </th>

</div>
  </tr>
<tr>
  <td>{{wind_direction}} </td>
  <td>{{wind_speed}}km/h</td>
  <td>{{current_velocity}}m/sec</td>
  <td> {{sea_temp}}</td>
  <td> {{ice_level}}cm</td>
  <td>{{precipitation}}mm</td>
  <td>{{snow_fall}}</td>
  <td>{{visibility}}</td>
</tr>
</table>
</div>
</div>
  <a href="map.html"><button>Back</button></a>
